<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackendURL</key>
	<string>http://15.188.222.229</string>
	<key>NSCameraUsageDescription</key>
	<string>Hermes needs camera access for video calls.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hermes needs microphone access for audio calls.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Hermes needs screen recording permission to share your screen during video calls.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>15.188.222.229</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
